.modal-mask {
    position: fixed;
    font-style: oblique;
    color: black;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }
.card-columns {
  display: inline-block
}
.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.card:hover{
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}
.card{
    width: 10vw;
    height: 45vh;
}
