{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='container'>
    <br>
    <div class='card-columns'>
        {% for event in object_list %}
        <a href="{% url 'event-detail' event.pk %}">
            <div class='card'>
                <div class='card-body'>
                    {% if event.image %}
                        <img class="card-img-top" src={{event.image.url}} style="width:100%">
                    {% endif %}
                        <h4 class="card-title"> {{event.name}} </h4>
                    <p class='card-text'> {{event.date}} </p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}