{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<div id='app'>
    <div class='container'>
        <div class='row'>
            <img class="img-thumbnail mx-auto" style="height: 50vh" src={{object.image.url}}>
        </div>
        {{object.name}}

        <div class='row'>
            <div class='col-md-6'>
                number of tickets
            </div>
            <div class='col-md-6'>
                {{tickets}}
            </div>
            <div class='col-md-6'>
                number of regular tickets
            </div>
            <div class='col-md-6'>
                {{regular_tickets}}
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                number of VIP tickets
            </div>
            <div class='col-md-6'>
                {{vip_tickets}}
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                number of Premium tickets
            </div>
            <div class='col-md-6'>
                {{premium_tickets}}
            </div>
        </div>
        <div class='row'>
            <button class='btn btn-primary' @click="showModal = true">RESERVE TICKETS</button>
        </div>
    </div>
    <div v-if="showModal">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">[[ modalTitle ]]</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" @click="showModal = false">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <form v-on:submit.prevent="reserveTickets">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="regularTickets">Regular</label>
                                        <input type="number" id="regularTickets" name="regularTickets" v-model="regular" placeholder=0/>
                                    </div>
                                    <div class="form-group">
                                        <label for="premiumTickets">Premium</label>
                                        <input type="number" id="premiumTickets" name="premiumTickets" v-model="premium" placeholder=0/>
                                    </div>
                                    <div class="form-group">
                                        <label for="vipTickets">VIP</label>
                                        <input type="number" id="vipTickets" name="vipTickets" v-model="vip" placeholder=0/>
                                    </div>
                                    <button class="btn btn-primary" >reserve tickets</button>
                                </form>
                                <div v-if="reservationSent">
                                    <h4>[[ reservationResponse ]]</h4>
                                    <div v-if="tickets.length > 0">
                                        <p class='card-text'>your reservation will last for 15 minutes</p>
                                        <form v-on:submit.prevent="buyTickets">
                                            {% csrf_token %}
                                            <button class='btn btn-primary' @click="buyTickets">Buy reserved tickets</button>
                                        </form>
                                        <div v-if="buyRequestSent">
                                            <h4>[[ buyResponse ]]</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    @click="showModal = false">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</div>


<script>
    axios.defaults.headers.common = {
            'X-CSRFToken': "{{ csrf_token }}"
        }
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            modalTitle: 'Buy ticket',
            modalText: 'Lalala!',
            showModal: false,
            regular: 0,
            premium: 0,
            vip: 0,
            tickets: [],
            reservationResponse: "",
            reservationSent: false,
            buyRequestSent: false,
            amount: 0,
            currency: "EUR",
            buyResponse: ""
        },
        methods: {
            onSubmit: function(){
            },
            reserveTickets: function() {

                if (this.regular || this.premium || this.vip)
                {
                    app.reservationSent = true;
                    app.buyRequestSent = false,
                    axios.post("{% url 'tickets-reserve' %}",
                        {
                            "event_id": {{ object.id }},
                            "tickets": [
                                { "ticket_type": "Regular", "number": this.regular },
                                { "ticket_type": "Premium", "number": this.premium },
                                { "ticket_type": "VIP", "number": this.vip }
                            ]
                        }).then(function (response) {
                            app.reservationResponse = "You are going to buy tickets for amount of: " + response.data.amount; 
                            app.tickets = response.data.tickets;
                            app.amount = response.data.amount;
                        }).catch(function (response){
                            app.reservationResponse = response.data.non_field_errors[0]
                        })
                }
            },
            buyTickets: function() {
                app.buyRequestSent = true;
                axios.post("{% url 'tickets-buy' %}", {
                    "token": "token",
                    'currency': app.currency,
                    "amount": app.amount,
                    "tickets": app.tickets
                }).then(function(response) {
                    app.buyResponse = "Success";
                    location.reload();
                }).catch(function(response){
                    app.buyResponse = response.data.non_field_errors[0];
                })
                
            }
        }
    })
</script>
{% endblock %}